[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
[submodule "components/FastLED/FastLED_dist"]
	path = components/FastLED/FastLED_dist
	url = https://github.com/FastLED/FastLED.git
[submodule "components/jsl-esp32/server"]
	path = components/jsl-esp32/server
	url = https://github.com/oxomoxo/jsl-esp32-http.git
[submodule "components/jsl-esp32/json"]
	path = components/jsl-esp32/json
	url = https://github.com/oxomoxo/jsl-esp32-json.git
[submodule "components/jsl-esp32/utils"]
	path = components/jsl-esp32/utils
	url = https://github.com/oxomoxo/jsl-esp32-utils.git
[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/tonyp7/esp32-wifi-manager.git
[submodule "components/socketstream"]
	path = components/Socketstream/socketstream
	url = https://github.com/Protovision/socketstream.git
[submodule "components/nlohmann_json/json"]
	path = components/nlohmann_json/json
	url = https://github.com/nlohmann/json.git
